// Normal colors
$bg_color : #3f3e3e;
$fg_color : #EDF0F5;
$base_color : gtkshade($bg_color, 0.8);
$text_color : gtkshade($fg_color, 1.15);
$selected_bg_color : #669900;
$selected_fg_color : #d1ff96;
$selected_base_color : $selected_bg_color;
$selected_text_color : $selected_fg_color;
$disabled_color_tint: #533d30;
$disabled_text_color_tint: #6e3002;//#5d2e13;
$disabled_bg_color : gtkmix($disabled_color_tint, $bg_color, 0.5);
$disabled_fg_color : gtkmix($disabled_text_color_tint, $fg_color, 0.5);
$disabled_base_color : gtkmix($disabled_color_tint, $base_color, 0.5);
$disabled_text_color : $disabled_fg_color;

// Backdrop state colors
$unfocused_bg_color : $bg_color;
$unfocused_fg_color : $fg_color;
$unfocused_base_color : $base_color;
$unfocused_text_color : $text_color;
$unfocused_selected_bg_color : $selected_bg_color;
$unfocused_selected_fg_color : $selected_fg_color;
$unfocused_selected_base_color : $selected_base_color;
$unfocused_selected_text_color : $selected_text_color;
$unfocused_disabled_bg_color : $disabled_bg_color;
$unfocused_disabled_fg_color : $disabled_fg_color;
$unfocused_disabled_base_color : $disabled_base_color;
$unfocused_disabled_text_color : $disabled_text_color;


// Darker color scheme
$dark_bg_color : gtkshade($base_color, 0.8);
$dark_fg_color : gtkshade($text_color, 0.9);

// Shadows
$dark_shadow : rgb(0, 0, 0);
$color_shadow : $selected_bg_color;
$light_shadow : rgb(255, 255, 255);
$wm_shadow : #000000;

// Borders
$borders : gtkshade($base_color, 0.8);
$outline_color : gtkshade($bg_color, 0.75);
$unfocused_borders : $borders;

// Notification header backgrounds
$info_fg_color : #66cbec;
$info_bg_color : #203d79;
$warning_fg_color : #FFFFFF;
$warning_bg_color : #804609;
$question_fg_color : #FFFFFF;
$question_bg_color : #0e531c;
$error_fg_color : #FFFFFF;
$error_bg_color : #8b1111;

// Special foreground colors
$link_color : #1D8ECE;
$error_color : #CC0000;
$success_color : #39E4A3;
$warning_color : #FF9900;


// Widget colors
$button_bg_color : #4e584d;
$button_fg_color : $text_color;
$button_checked_bg_color: $selected_bg_color; //gtkshade($bg, 0.75);
$button_checked_fg_color: $selected_fg_color; //$button_bg_color;
$button_border_color: $button_bg_color; //also check $button_border_width @ _vars.scss
$button_suggested_bg_color: #006d3b;
$button_suggested_fg_color: #6dfcba;
$needs-attention_bg_color: red;


$tooltip_bg_color : $info_bg_color;
$tooltip_fg_color : $info_fg_color;
$statusbar_bg_color: gtkmix($info_bg_color, $bg_color, 0.5);
$statusbar_fg_color: gtkmix($info_fg_color, $fg_color, 0.5);
$progressbar_color : $selected_bg_color;
$menu_bg_color : $bg_color;
$menu_fg_color : $fg_color;
$menubar_bg_color : $bg_color;
$menubar_fg_color : $fg_color;
$toolbar_bg_color : $bg_color;
$toolbar_fg_color : $fg_color;
$sidebar_bg_color : $base_color;//$dark_bg_color;
$sidebar_fg_color : $text_color;//$dark_fg_color;
$taskbar_bg_color : #484848;
$taskbar_fg_color : #FFFFFF;
$titlebar_bg_color : gtkmix($selected_bg_color, $bg_color, 0.5);
$titlebar_fg_color : gtkmix($selected_fg_color, $fg_color, 0.5);
$headerbar_bg_color : $titlebar_bg_color;
$headerbar_fg_color : $titlebar_fg_color;
$unfocused_headerbar_bg_color: $bg_color;
$unfocused_headerbar_fg_color: $fg_color;

$terminal_bg_color : #000000;
$terminal_fg_color : #FFFFFF;
$slider_central_color: #00cf00;
$slider_outer_color: gtkalpha($slider_central_color, 0);

// OSD
$osd_fg : $dark_fg_color;
$osd_bg : gtkmix($dark_bg_color, $dark_fg_color, 0.2);
$osd_base : $dark_bg_color;

// Budgie colors
$raven_fg_color : $dark_fg_color;
$raven_bg_color : gtkalpha($dark_bg_color, 0.9);

// Desktop Icons
$desktop_item_fg : #FFFFFF;
$desktop_item_selected_fg : $selected_fg_color;
$desktop_item_text_shadow : gtkalpha($dark_shadow, 0.8);

// LightDM greeter colors
$lightdm_bg_color : $dark_bg_color;
$lightdm_fg_color : $dark_fg_color;
