$roundness : 0px;
$entry_radius : 0px;
$button_radius : 0px;
$tab_radius : 0px;
$progressbar_radius : 0px;
$scrollbar_radius : 0px;
$scrollbar_width: 0.7em;
$csd_radius : 0px;
$view_radius : 0px;
$top_primary_stepper: true;
$bottom_primary_stepper: true;
$top_secondary_stepper: false;
$bottom_secondary_stepper: false;
$check_size: 10px;
$menu_radius : 0px;

// outline
$outline_width : 1px;
$outline_offset : 3px;
$outline_style : none;

// Button boxshadows
$highlight_alpha : 0.3;
$button_normal_box_shadow: none;
$button_checked_box_shadow: none;
$button_bg_image: none;

$button_border_width : 2px;

$entry_box_shadow: $button_checked_box_shadow;

$inset_boxshadow: $button_checked_box_shadow;

$progress_bg_gradient: gtkalpha($light_shadow, 0.3), gtkalpha($dark_shadow, 0.3) 40%, gtkalpha($light_shadow, 0.15) 100%;

$decoration-focus-boxshadow: 0 0 0 0.2em $selected_bg_color;
$decoration-backdrop-boxshadow: 0 0 0 0.2em gtkshade($unfocused_headerbar_bg_color, 1.5), //$unfocused_headerbar_bg_color,
							//-0.1em -0.1em 0 0.1em gtkshade($unfocused_headerbar_bg_color, 1.5),
							 0.1em 0.1em 0 0.1em gtkshade($unfocused_headerbar_bg_color, 0.7);

@mixin border_outset ($bc, $width : $button_border_width) {
	border-style: solid;
	border-color: gtkshade($bc, 1.5) gtkshade($bc, 0.7) gtkshade($bc, 0.7) gtkshade($bc, 1.5);
	border-width: $width;
}

@mixin border_inset ($bc, $width : $button_border_width) {
	border-style: solid;
	border-color: gtkshade($bc, 0.7) gtkshade($bc, 1.5) gtkshade($bc, 1.5) gtkshade($bc, 0.7);
	border-width: $width;
}

@mixin slider ($size, $bc : $button_bg_color) {
	  min-height: $size;
      min-width: $size;
      border-width: $button_border_width;
      @include border_outset($bc);
      border-radius: 0px;
      color: $fg_color;
      background-color: $bc;
      

      &:hover, &:focus {
        color: $selected_fg_color;
        background-color: $selected_bg_color;
        @include border_outset($selected_bg_color);

      }

      &:disabled {
        background-color: $disabled_bg_color;
        color: $disabled_fg_color;
        @include border_outset($disabled_bg_color);
        -gtk-icon-shadow: none;
      }
}
