@mixin actionbar() {
  actionbar {
    padding: 4px;
    border-width: 1px 0 0 0;
    border-style: solid;
    border-color: $borders;
    color: $fg_color;
    background-color: $bg_color;

    .title {
      font-weight: bold;
      padding: 0 12px;
    }

    .subtitle {
      font-size: smaller;
      padding: 0 12px;
    }
  }
}
