@mixin app_notifications() {
  .app-notification {
    border-style: solid;
    @include border_outset ($info_bg_color);
    border-width: 2px;
    border-radius: $roundness;
    margin: 5px;
    padding: 8px;
    background-color: $info_bg_color;
    color: $info_fg_color;
    
    
    border {
      border: none;
    }
  }
}
