@mixin background() {
  .background {
    color: $fg_color;
    background-color: $bg_color;

    /*&:backdrop {
      color: $unfocused_fg_color; 
      background-color: $unfocused_bg_color;
    }*/
  }
}
