@mixin normal_buttons($bg : $button_bg_color, $fg : $button_fg_color, $br:$button_bg_color, $isColored: false) {
  margin: 0;
  padding: 0.2em;
  
  border-width: $button_border_width;
  @include border_outset($br);
 
  border-radius: $button_radius;
  color: $fg;
  background-color: $bg;
  $background-color-active : $button_checked_bg_color;
  $foreground-color-active : $button_checked_fg_color;
  @if $isColored == true {
  	$background-color-active : gtkshade($bg, 1.2);
	$foreground-color-active : $fg;
  }


  /*&.combo {
  padding-top: 2px;
  padding-bottom: 2px; 
  }*/

  &:hover, &:focus {

    background-color: gtkshade($bg, 1.1);
    
  }

  &:active, &:checked {
    
    color: $foreground-color-active;
    background-color: $background-color-active;
    @include border_inset($background-color-active);
    
    &:hover, &:focus {
	    background-color: gtkshade($background-color-active, 1.2);
    
    }

 
    
    &:disabled {
      color: $disabled_fg_color;
      background-color: $disabled_bg_color; 
      @include border_inset($disabled_bg_color);
      -gtk-icon-effect: dim;
    }
   
  }

  &:disabled {
    color: $disabled_fg_color;//gtkmix($fg, $unfocused_disabled_fg_color, 0.1);
    //border-color: gtkmix($bg, $disabled_bg_color, 0.6);
    background-color: $disabled_bg_color; //gtkmix($bg, $disabled_bg_color, 0.7);
    @include border_outset($disabled_bg_color);
    -gtk-icon-effect: dim;
     }

  
}

@mixin flat_buttons($bg, $fg, $br, $isColored: false)
{
  border-color: transparent;
  border-radius: $button_radius;
  border-width: $button_border_width;
  color: $fg;
  background-color: transparent;
  box-shadow: none;
  background-image: none;
  
  $background-color-active : $button_checked_bg_color;
  
  @if $isColored == true {
  	$background-color-active : gtkshade($bg, 1.2);
  }  

  &:hover, &:focus {

    color: $fg;
    background-color: $bg;
	@include border_outset($bg)
    //box-shadow: $button_normal_box_shadow;
    //border-bottom-color: gtkalpha($dark_shadow, 0.3);
    //background-image: $button_bg_image;
  }

  &:active, &:checked {
    @include border_inset($background-color-active);
    //border-bottom-color: gtkalpha($light_shadow, 0.3);
    //color: $fg;
    color: $button_checked_fg_color;
    background-color: $background-color-active;
	
    //box-shadow: $button_checked_box_shadow;
    &:hover, &:focus {
	    background-color: gtkshade($background-color-active, 1.2);
    
    }
    
    /*&:backdrop {
      //border-color: $unfocused_selected_bg_color;
      color: $unfocused_selected_fg_color;
      background-color: $unfocused_selected_bg_color;
    }*/
  }

  &:disabled {
    //border-color: transparent;
    color: $disabled_fg_color;//gtkalpha($fg, 0.8);
    background-color: $disabled_bg_color;
    border-color: $disabled_bg_color;
    
   /* &:backdrop {
      border-color: transparent;
      color: gtkalpha($fg, 0.7);
      background-color: transparent;
    }*/
  }
  

  /*&:backdrop {
    border-color: transparent;
    background-color: transparent;
    color: $unfocused_fg_color;
  }*/
}

@mixin button() {
  button {
    /*@include normal_buttons($bg_color, $fg_color, $borders);*/
    @include normal_buttons($button_bg_color, $button_fg_color, $button_border_color);
    &.flat {
      @include flat_buttons($button_bg_color, $button_fg_color, $button_border_color);
    //check, radio {margin:0;}
    }
  }
}
