// added the ext part for when we need selected (or dark) assets
@mixin check($cradius : 0px) {
    padding: 1px;
    border-width: $button_border_width;

    @include border_inset($selected_bg_color);
    border-radius: $cradius;
    color: $text_color;
    background-color: $base_color;
  &:disabled { 
      background-color: $disabled_base_color;
      @include border_inset($disabled_bg_color);
      color: $disabled_text_color;
      
  }
  &:hover, &:focus {
    background-color: gtkshade($base_color, 1.1);  
    }
  &:active, &:checked, &:active:indeterminate, &:checked:indeterminate { 
      background-color: $selected_bg_color;
      color: $selected_fg_color;
    &:disabled { //-gtk-icon-source: gtkscale("assets/checkbox-checked-insensitive" + $ext, ".png");
        background-color: gtkmix($disabled_base_color, $disabled_text_color,0.5);//$disabled_base_color;
        color: $disabled_text_color;
        @include border_inset($disabled_base_color);
    }
    &:hover, &:focus {
        background-color: gtkshade($selected_bg_color, 1.2);  
    }
    
  }

  
}

@mixin radio() {

    @include check(10px);
}

@mixin checkradio() {
  /*checkbutton.text-button, radiobutton.text-button {
    padding: 4px;
    outline-offset: 0;
    border-radius: $roundness;
    //make all check/radio (including label) be subtly highlighted on hovering. Not working, to be fixed
    &:hover, &:focus {
    	background-color: gtkalpha($light_shadow, 0.1);
    }
  }*/

  check, radio {
    margin: 4px;
    min-height: $check_size;
    min-width: $check_size;    
  }
  
  //check, .check { @include check();
    check { @include check();
    //row:selected & { @include check("-selected"); }
  }
  
  //radio, .radio { @include radio();
  radio{ @include radio();
    //row:selected & { @include radio("-selected"); }
  }
  
  menuitem, .menuitem, menuitem.button.flat, .menuitem.button.flat, modelbutton.flat, menuitem.button.flat {
    check { @include check();
      //&:hover { @include check("-selected"); }
    }
    radio { @include radio();
      //&:hover { @include radio("-selected"); }
    }
  }
}
