@mixin decoration() {
  decoration {
    /*border-radius: $csd_radius $csd_radius 0 0;
    border-width: $button_border_width;
    border-color: $selected_bg_color;
    border-style: solid;*/
    //@include border_outset($headerbar_bg_color, $button_border_width);
    margin: 10px;
    box-shadow: $decoration-focus-boxshadow;
    

    &:backdrop {
      //@include border_outset($unfocused_headerbar_bg_color, 2px);
      box-shadow: $decoration-backdrop-boxshadow;
    }

    .maximized &,
    .fullscreen &,
    .tiled &,
    .tiled-top &,
    .tiled-right &,
    .tiled-bottom &,
    .tiled-left & { border-radius: 0; }

    .popup & { 
    	@include border_outset($bg_color, $button_border_width);
    	margin: 1px;
    	box-shadow: none;
    }

    /*.csd.popup & {
      border-radius: $menu_radius;
      box-shadow: 0 5px 8px 0 gtkalpha($wm_shadow, 0.6);
    }*/

    /*.ssd & {
      

      &.maximized {
        border-radius: 0;
      }
    }*/

    tooltip.csd & {
      border-radius: $csd_radius;
      //box-shadow: 0 5px 8px 0 gtkalpha($wm_shadow, 0.6);
      @include border_outset($tooltip_bg_color);
      box-shadow: none;
    }

    .solid-csd & {
      margin: 1px;
      
      border-radius: 0px;
      //background-color: gtkalpha($light_shadow, 0.95);
      //box-shadow: 0 5px 8px 0 gtkalpha($wm_shadow, 0.6);
      @include border_outset($bg_color, $button_border_width);
      box-shadow: none;
    }
  }
}
