@mixin entry() {
  entry {
    padding: 0px; //5px;
    border-width: $button_border_width;
    @include border_inset($base_color);
    border-radius: $entry_radius;
    color: $text_color;
    caret-color: currentColor;
    background-color: gtkshade($base_color,0.9);
    //box-shadow: $entry_box_shadow;
    //margin: 1px;
    min-height: 1.5em;

    &:active, &:focus {
      @include border_inset($selected_bg_color);
      //box-shadow: inset 0 0 0 3px $selected_bg_color, $button_checked_box_shadow;
      //background-color: gtkmix(gtkshade($base_color,0.9), $selected_bg_color, 0.3)
    }

    &:selected, &:selected:focus, selection, selection:focus {
      color: $selected_fg_color;
      background-color: $selected_bg_color;
    }

    &:disabled {
      color: $disabled_text_color;
      @include border_inset($disabled_base_color);
      background-color: $disabled_base_color; //gtkmix($bg_color, $disabled_bg_color, 0.5);
      
      //box-shadow: none;

      /*&:backdrop {
        color: $unfocused_disabled_fg_color;
        border-color: $unfocused_borders;
        background-color: $unfocused_disabled_bg_color;
      }*/
    }

    /*&:backdrop {
      color: $unfocused_fg_color;
      background-color: $unfocused_base_color;
    }*/

    > image {
      &.left {
        padding-right: 5px;
      }
      
      &.right {
        padding-left: 5px;
      }
    }

    progress {
      /*margin: -4px -4px;
      border-width: 0 0 2px;
      border-radius: 0;
      border-style: solid;
      border-color: $selected_bg_color;
      background-color: transparent;*/
      border: none;
      border-radius: $entry_radius;
      background-color: $progressbar_color;
      //box-shadow: $button_normal_box_shadow;
      //min-height: 9px;
      //background-image: linear-gradient(to bottom, $progress_bg_gradient);
      margin: 1.3em 0px 0px 0px;
      //max-height: 7px;
    }

    &.flat, &.flat:focus {
      min-height: 0;
      padding: 3px;
      border-radius: 0;
      background-image: none;
      border-color: transparent;
    }

    &.search {
      border-radius: 40px;
    }
  }
}
