@mixin frame() {
  .frame, frame > border {
    /*border-width: 1px;
    border-style: solid;
    border-color: $borders;
    border-radius: 0;//$roundness;
    //box-shadow: none;
    background: none;
    //padding: $roundness;
    //padding: 0;*/
    @include border_inset($bg_color);
  }

  frame.flat > border, frame > border.flat, .frame.flat {
   border-style: none;
  }
  
  frame.border-inset > border, frame.border-outset > border  {
      border-width: 2px;
      border-color: gtkshade($bg_color,0.7);
    }
    frame.border-groove > border, frame.border-ridge > border {
        border-width: 4px;
        border-color: gtkshade($bg_color, 0.7);
    }
}
