
@mixin headerbar() {


  headerbar {
    padding: 0.2em 0.4em;
    min-height: 1.5em;
    color: $headerbar_fg_color;
    background-color: $headerbar_bg_color;
    border-radius: $csd_radius $csd_radius 0 0;


    &:backdrop {
      color: $unfocused_headerbar_fg_color;
      //border-bottom-color: $unfocused_borders;
      background-color: $unfocused_headerbar_bg_color;

    }
    

    .tiled &, .tiled &:backdrop,
    .maximized &, .maximized &:backdrop {
      border-radius: 0;
    }
    
    headerbar ~ & {
    	border-top-left-radius: 0;
    }
    &:not(:last-child) {
    	border-top-right-radius: 0;
    }
    
    
    


    .title {
      padding-left: 12px;
      padding-right: 12px;
      font-weight: bold;
    }

    .subtitle {
      font-size: smaller;
      padding-left: 12px;
      padding-right: 12px;
      color: gtkalpha(currentColor, 0.7);
    }

    /*button {
      //@include headerbar_buttons($headerbar_bg_color, $headerbar_fg_color, $headerbar_bg_color);
      //@include headerbar_buttons($headerbar_bg_color, $headerbar_fg_color, $button_border_color);
      @include normal_buttons($headerbar_bg_color, $headerbar_fg_color, $button_border_color);
      
       &:backdrop { 
            background-color: $button_bg_color;
            color: $button_fg_color;
            @include bord
            &:disabled {
                background-color: $disabled_bg_color;
                color: $disabled_fg_color;
            }
        }
       &.flat {
       	@include flat_buttons($headerbar_bg_color, $headerbar_fg_color, $button_border_color);
       	//&:backdrop { background-color: $button_bg_color; }
           &:backdrop { 
                //background-color: $button_bg_color;
                color: $button_fg_color;
                &:disabled {
                    background-color: $disabled_bg_color;
                    color: $disabled_fg_color;
                }
            }       	
       	}
    }*/
    
    switch:checked {
      border-color: gtkshade($selected_bg_color, 1.15);
      background-color: gtkshade($selected_bg_color, 1.15);
    }

    entry { 
        padding: 4px 8px;
        /*background-color: red;
        &:active, &:focus {
          //border-color: $selected_bg_color;
          box-shadow: inset 0px 0px 0px 3px $info_bg_color, $button_checked_box_shadow;
        }*/
    }
    //&.titlebar, .titlebar & { border-radius: $csd_radius $csd_radius 0px 0px; }

    .titlebutton {
      &.close, &.maximize, &.minimize, &:not(separator) {
        padding: 0.1em;
        //-gtk-icon-shadow: 0 1px gtkalpha($light_shadow, 0.5);
      }
      
      &.close {
      	@include normal_buttons(gtkmix($error_bg_color, $button_bg_color, 0.6), 
      		gtkmix($error_fg_color, $button_fg_color, 0.5), 
      		gtkmix($error_bg_color, $button_bg_color, 0.5), true);
      	&:backdrop {@include normal_buttons($button_bg_color, $button_fg_color, $button_bg_color);}	
        /*background-color: gtkalpha($error_bg_color, 0.2);
        &:hover { background-color: gtkalpha($error_bg_color, 0.5); }
        &:active { background-color: $error_bg_color; }
        &:backdrop { //background: center / contain no-repeat url('assets/close-backdrop.png');
            background-color: $button_bg_color;
            &:hover { background-color: gtkalpha($error_bg_color, 0.5); }
        }*/
        
      }

      &.minimize {
      	 @include normal_buttons(gtkmix($warning_bg_color, $button_bg_color, 0.8), 
      		gtkmix($warning_fg_color, $button_fg_color, 0.5), 
      		gtkmix($warning_bg_color, $button_bg_color, 0.5), true);
      	&:backdrop {@include normal_buttons($button_bg_color, $button_fg_color, $button_bg_color);}
        /*
        //background: center / contain no-repeat url('assets/minimize-normal.png');

        &:hover { background-color: gtkalpha($warning_bg_color, 0.5); }
        &:active { background-color: $warning_bg_color; }
        &:backdrop { 
        	//background: center / contain no-repeat url('assets/minimize-backdrop.png') ; 
        	background-color: $button_bg_color;
        	&:hover { background-color: gtkalpha($warning_bg_color, 0.5); }
        	}
        */
      }

     &.maximize {
        @include normal_buttons(gtkmix($info_bg_color, $button_bg_color, 0.8), 
      		gtkmix($info_fg_color, $button_fg_color, 0.5), 
      		gtkmix($info_bg_color, $button_bg_color, 0.5), true);
      	&:backdrop {@include normal_buttons($button_bg_color, $button_fg_color, $button_bg_color);}
        /*
        //background: center / contain no-repeat url('assets/maximize-normal.png');
        &:hover { background-color: gtkalpha($info_bg_color, 0.5); }
        &:active { background-color: $info_bg_color; }
        &:backdrop { 
        	background-color: $button_bg_color; 
        	&:hover { background-color: gtkalpha($info_bg_color, 0.5); }
        }*/
      }
    }
  }
}
