@mixin infobar() {
  infobar {
    border: none;
  }

  .info {
	//@include border_outset($info_bg_color, $button_border_width);
	border: none;
    color: $info_fg_color;
    background-color: $info_bg_color;

    button {
    	@include normal_buttons($info_bg_color, $info_fg_color, $info_bg_color, true);
    }
  }

  .warning {
    //@include border_outset($warning_bg_color, $button_border_width);
    border: none;
    color: $warning_fg_color;
    background-color: $warning_bg_color;

    button {
    	@include normal_buttons($warning_bg_color, $warning_fg_color, $warning_bg_color, true);
    }
  }

  .question {
    //@include border_outset($question_bg_color, $button_border_width);
    border: none;
    color: $question_fg_color;
    background-color: $question_bg_color;

    button {
    	@include normal_buttons($question_bg_color, $question_fg_color, $question_bg_color, true);
    }
  }

  .error {
    //@include border_outset($error_bg_color, $button_border_width);
    border: none;
    color: $error_fg_color;
    background-color: $error_bg_color;

    button {
    	@include normal_buttons($error_bg_color, $error_fg_color, $error_bg_color, true);
    }
  }
}
