@mixin inline_toolbar() {
  .inline-toolbar {
    padding: 1px;
    border-width: 1px;
    border-style: solid;
    border-color: gtkmix($borders, $toolbar_bg_color, 0.5);
    border-radius: 0;
    background-color: $toolbar_bg_color;

    /*&:backdrop {
      border-color: $unfocused_borders;
      background-color: $unfocused_bg_color;
    }*/

    toolbutton > button {
      @include normal_buttons($button_bg_color, $button_fg_color, $button_border_color);
    }
  } 
}
