@mixin labels() {
  label {
    selection {
      background-color: $selected_bg_color;
      color: $selected_fg_color;
    }

    &.dim-label, &.separator, popover &.separator, popover.background &.separator {
      opacity: 0.55;
    }
    &:disabled {
    color: $disabled_fg_color;
    }
    &.keycap { 
    	@include border_outset($base_color, 2px);
    	border-radius: 0.3em;
    	padding: 0.2em;
    	}
  }
  
}
