@mixin levelbar() {
  levelbar {
    trough {
      padding: 0px;
      border-radius: 0;
      border-width: 2px;
      @include border_inset($bg_color);
      background-color: gtkshade($bg_color, 0.8);
    }

    &.horizontal block {
      
      min-height: 5px;
    }

    &.vertical block {
      
      min-width: 5px;
    }

    
    &.horizontal.discrete block {
      margin: 0 1px;

    }

    &.vertical.discrete block {
      margin: 1px 0;
    }

    block {
      border: none;
      //padding: 2px;
      border-radius: $progressbar_radius;
      background-color: $selected_bg_color;

      &.high {
        background-color: gtkshade($success_color, 0.9);
      }

      &.low {
        background-color: gtkshade($warning_color, 0.9);
      }

      &.empty {
        background-color: transparent;
        
      }
    }
  }
}
