@mixin linked_styles() {
  .linked {

    
    &.vertical {


      // restore spinbutton behaviour
      spinbutton {
        /*entry:focus { box-shadow: none; }*/
      }
    }
  }

  // only stretch text buttons  
  stackswitcher button.text-button:not(.circular) { min-width: 8em; }
}
