@mixin list() {
  list {
    color: $text_color;
    background-color: $base_color;

    row {
      padding-top: 0.2em;
      padding-bottom: 0.2em;
      //border-radius: $roundness;
/*
      &:hover {
        background-color: gtkmix($bg_color, $fg_color, 0.1);
      }
      
      &:active {
        background-color: gtkmix($bg_color, $fg_color, 0.3);
      }
      &:disabled {
        color: $disabled_fg_color;
        background-color: $disabled_bg_color;
      }      
     
      
      &:selected {
        //border: none;
        color: $selected_fg_color;
        background-color: $selected_bg_color;

        
        &:hover {
          background-color: gtkshade($selected_bg_color, 1.05);
        }
        
        &:active {
          background-color: gtkshade($selected_bg_color, 0.9);
        }
        
        &:disabled {
          color: gtkmix($selected_fg_color, $disabled_fg_color, 0.5);
          background-color: gtkmix($selected_bg_color, $disabled_bg_color, 0.5);
        }

      }*/
    }


  }
}
