@mixin menuitem() {
  menu menuitem, .menu menuitem {
    min-height: 16px;
    min-width: 40px;
    padding: 4px;
    border: none;
    border-radius: 0;
    color: $menu_fg_color;
    background-color: $menu_bg_color;

    &:hover {
      color: $selected_fg_color;
      background-color: $selected_bg_color;
      
      switch slider, scale highlight, scale slider {
        background-color: $selected_fg_color;
      }
      
      scale trough, switch {
        background-color: gtkalpha($selected_fg_color, 0.75);
      }
    }

    &:disabled {
      color: gtkmix($menu_fg_color, $menu_bg_color, 0.5);
    }

    arrow {
      min-width: 16px;
      min-height: 16px;

      &:dir(ltr) {
        margin-left: 10px;
        -gtk-icon-source: -gtk-icontheme("pan-end-symbolic");
      }

      &:dir(rtl) {
        margin-right: 10px;
        -gtk-icon-source: -gtk-icontheme("pan-end-symbolic-rtl");
      }
    }
  }
  
  menuitem {
    accelerator {
      color: gtkalpha(currentColor, 0.55);

      &:hover {
        color: gtkalpha($selected_fg_color, 0.8);
      }

      &:disabled {
        color: gtkmix($menu_fg_color, $menu_bg_color, 0.5);
      }
    }
    /*check:checked {
        -gtk-icon-source: -gtk-icontheme("checkbox-checked-symbolic");
    }*/
    check:indeterminate {
        -gtk-icon-source: -gtk-icontheme("list-remove-symbolic");
        /*&:hover, &:active {
                    -gtk-icon-source: -gtk-icontheme("checkbox-mixed-symbolic")
        }  */      
    } 
    /*radio:checked {
        -gtk-icon-source: -gtk-icontheme("radio-checked-symbolic")
        //background-color: $menu_fg_color;
        
        &:hover, &:active {
                    background-color: $menu_fg_color;
        }
        &:disabled {
            background-color: $disabled_fg_color;
        }
    }*/
    radio:indeterminate {
        -gtk-icon-source: -gtk-icontheme("list-remove-symbolic");
       /* &:hover, &:active {
                    -gtk-icon-source: -gtk-icontheme("radio-mixed-symbolic");
        }    */    
    }
  }
}
