@mixin miscellaneous() {
  .dnd {
    border-width: 1px;
    border-style: solid;
    border-color: $borders;
  }

  .nautilus-window notebook, .nautilus-window notebook > stack:not(:only-child) searchbar {
    background-color: $base_color;
  }

  .caja-location-entry { padding: 3px 5px; }

  scrolledwindow.frame, scrolledwindow viewport.frame { 
        border: 0px solid $borders;
        border-radius: 0;
    }

  arrow, combobox arrow {
    //color: gtkalpha(currentColor, 0.75);
    -gtk-icon-source: -gtk-icontheme("pan-down-symbolic");
    min-height: 1em;
    min-width: 1em;
  }
  
  combobox {margin: 0px;}

  .context-menu, popover.touch-selection, .csd popover.touch-selection,
  popover.background.touch-selection, .csd popover.background.touch-selection {
    font: initial;
  }

  .monospace { font-family: Monospace; }

  .gedit-search-entry-occurrences-tag {
    //color: gtkalpha(currentColor, 0.7);
    border: none;
    margin: 2px;
    padding: 2px;
  }

  .gedit-search-slider {
    border-color: $borders;
    padding: 6px;
    border-radius: 0 0 $roundness $roundness;
    border-width: 0 1px 1px 1px;
    border-style: solid;
    background-color: $bg_color;
  }

  button.circular, button.circular-button {
    /*padding: 0;
    min-width: 16px;
    min-height: 24px;
    padding: 2px 6px;*/
    border-radius: 50%;
    -gtk-outline-radius: 50%;
  }
  
  stackswitcher {
        button.circular, stackswitcher button.text-button.circular {
        min-width: 2em;
        min-height: 2em;
        padding: 0;
      }
  padding: 3px 0px;
  }
    
  printdialog paper {
    border: 1px solid $borders;
    background: $light_shadow;
    padding: 0;
  }
  
  // drop function styles
  filechooserbutton:drop(active) {
    box-shadow: none;
    border-color: transparent;
  }
  
  :not(decoration):not(window):drop(active), :not(decoration):not(window):drop(active):focus, combobox:drop(active) button.combo {
    border-color: $selected_bg_color;
    box-shadow: inset 0 0 0 1px $selected_bg_color;
    caret-color: $selected_bg_color;
  }
}
