@mixin notebook() {
  notebook {
    padding: 4px;
    border-radius: $roundness;
    margin-bottom: 1px;
    background-color: $bg_color;
    

    &.frame {
      /*//margin: -1px;
      border-width: 1px;
      border-style: solid;
      border-color: $borders;*/
      border-radius: $roundness;
      border-style: none;

      > header {
        //margin: -1px;

        &.top {
          //margin-bottom: 0;
          + stack {
          	
          	border-bottom-left-radius: $tab_radius;
          	border-bottom-right-radius: $tab_radius;
          	margin-bottom: $button_border_width;

          }
        }

        &.bottom {
          //margin-top: 0;
          + stack {
          	
          	border-top-left-radius: $tab_radius;
          	border-top-right-radius: $tab_radius;
          	margin-top: $button_border_width;

          }
        }

        &.left {
          //margin-right: 0;
          + stack {
          	
          	border-top-right-radius: $tab_radius;
          	border-bottom-right-radius: $tab_radius;
          	margin-right: $button_border_width;

          }
        }

        &.right {
          //margin-left: 0;
          + stack {
          	
          	border-top-left-radius: $tab_radius;
          	border-bottom-left-radius: $tab_radius;
          	margin-left: $button_border_width;

          }
        }

        &.top, &.bottom {
          padding-left: 0;
          padding-right: 0;
        }

        &.left, &.right {
          padding-top: 0;
          padding-bottom: 0;
        }
      }
    }
    &.frame:focus > header > tabs > tab:not(:checked) {
    	background-color: gtkshade(gtkmix($bg_color, $base_color, 0.5), 1.1);
    }

    //> stack:not(:only-child) {
    > stack {
      background-color: gtkmix($base_color, $bg_color, 0.5);
      //box-shadow: $button_normal_box_shadow;
      border-width: $button_border_width;
      @include border_outset (gtkmix($base_color, $bg_color, 0.5));
      margin: 0;
      
    }

    tab {
      padding: 0.2em 1em;
      border-width: $button_border_width;
      border-style: solid;
      border-radius: 0;
      border-color: $borders;
      color: gtkalpha($fg_color, 0.5);
      background-color: $base_color;
      @include border_outset(gtkmix($bg_color, $base_color, 0.5));

      &:checked {
      //border-width: $button_border_width;
        //border-color: $borders;
        background-color: gtkmix($bg_color, $base_color, 0.5);
        color: $fg_color;
       
        

       /* &:backdrop {
          border-color: $unfocused_borders;
          background-color: $unfocused_base_color;
        }*/
      }
      &:hover {
          color: $fg_color;
    }

      /*&:backdrop {
        background-color: $unfocused_bg_color;
      }*/
    }

    > header {
      padding-top: 4px;
      //background-color: $bg_color;
      background-color: transparent;      
     /* &:backdrop {
        background-color: $unfocused_bg_color;
      }*/

      &.top {
        //box-shadow: 0 1px $borders;

        > tabs > tab {
          border-bottom: none;
          border-top-left-radius: $tab_radius;
          border-top-right-radius: $tab_radius;
          margin-top: $button_border_width;
          &:checked {
            margin-top: 0px;
            margin-bottom: -$button_border_width;
            //box-shadow: inset 0 1px 1px 0 gtkalpha($light_shadow, 0.3);
          }
        }
      }

      &.bottom {
        padding-top: 0;
       

        > tabs > tab {
          border-top: none;
          border-bottom-left-radius: $tab_radius;
          border-bottom-right-radius: $tab_radius;
          &:checked {
            margin-top: -$button_border_width;
           
          }
        }
      }

      &.right {
        //box-shadow: -1px 0 $borders;

        > tabs > tab {
          border-left: none;
          border-top-right-radius: $tab_radius;
          border-bottom-right-radius: $tab_radius;
          &:checked {
            margin-left: -$button_border_width;
                     
          }
        }
      }

      &.left {
        //box-shadow: 1px 0 $borders;

        > tabs > tab {
          border-right: none;
          border-top-left-radius: $tab_radius;
          border-bottom-left-radius: $tab_radius;
          &:checked {

            margin-right: -$button_border_width;
            
          }
        }
      }
    }

    // alignments
    > header.top > tabs > arrow.up, & > header.bottom > tabs > arrow.up {
      -gtk-icon-source: -gtk-icontheme("pan-end-symbolic");

      &:last-child {
        margin-left: $button_border_width;
      }
    }

    > header.top > tabs > arrow.down, & > header.bottom > tabs > arrow.down {
      -gtk-icon-source: -gtk-icontheme("pan-start-symbolic");

      &:first-child {
        margin-right: $button_border_width;
      }
    }

    > header.left > tabs > arrow.up, & > header.right > tabs > arrow.up {
      -gtk-icon-source: -gtk-icontheme("pan-down-symbolic");

      &:last-child {
        margin-top: $button_border_width;
      }
    }

    > header.left > tabs > arrow.down, & > header.right > tabs > arrow.down {
      -gtk-icon-source: -gtk-icontheme("pan-up-symbolic");

      &:first-child {
        margin-bottom: $button_border_width;
      }
    }

    > header > tabs > arrow {
      color: $fg_color;

      &:hover {
        color: gtkshade($fg_color, 1.2);
      }

      &:active {
        color: gtkshade($fg_color, 0.8);
      }

      &:disabled {
        color: gtkshade($bg_color, 0.6);
      }
    }
  }
}
