@mixin over_undershoot() {
  overshoot {
  		background-color: gtkalpha(gtkmix($error_bg_color, $base_color, 0.7), 0.3);
		background-size: 100%;
		background-repeat: no-repeat;
		border: none;
		box-shadow: none;
    /*&.top {
      background-image: -gtk-gradient(radial, center top, 0.55, center top, 0.6, from(gtkalpha($color_shadow, 0.2)), to(transparent));
      background-size: 100% 60%;
      background-repeat: no-repeat;
      background-position: center top;
      background-color: transparent;
      border: none;
      box-shadow: none;
    }

    &.bottom {
      background-image: -gtk-gradient(radial, center bottom, 0.55, center bottom, 0.6, from(gtkalpha($color_shadow, 0.2)), to(transparent));
      background-size: 100% 60%;
      background-repeat: no-repeat;
      background-position: center bottom;
      background-color: transparent;
      border: none;
      box-shadow: none;
    }

    &.left {
      background-image: -gtk-gradient(radial, left center, 0.55, left center, 0.6, from(gtkalpha($color_shadow, 0.2)), to(transparent));
      background-size: 60% 100%;
      background-repeat: no-repeat;
      background-position: left center;
      background-color: transparent;
      border: none;
      box-shadow: none;
    }

    &.right {
      background-image: -gtk-gradient(radial, right center, 0.55, right center, 0.6, from(gtkalpha($color_shadow, 0.2)), to(transparent));
      background-size: 60% 100%;
      background-repeat: no-repeat;
      background-position: right center;
      background-color: transparent;
      border: none;
      box-shadow: none;
    }*/

  }

  undershoot {
	  background-size: 0.5em 0.5em;
	  background-color: transparent;
	  background-repeat: no-repeat;
	  background-image: image(gtkalpha($selected_bg_color, 0.3));
	  padding: 0;
	  margin: 0;
  
  
    &.top {

      background-position: center top;
      background-repeat: repeat-x;

    }

    &.bottom {
      background-position: center bottom;
      background-repeat: repeat-x;
    }

    &.left {
      background-position: left center;
      background-repeat: repeat-y;
    }

    &.right {
      background-position: right center;
      background-repeat: repeat-y;
    }
    
  }

  .overlay-bar {
    background-color: gtkalpha($dark_shadow, 0.8);
    border-radius: 0;
    padding: 3px 6px;
    margin: 3px;

    label {
      color: $tooltip_fg_color;
    }
  }
}
