@mixin paned() {
  paned {
    > separator {
      border: none;
      color: transparent;
      background-color: $borders;
      min-width: 3px;
      min-height: 3px;

      /*&:backdrop {
        background-color: $unfocused_borders;
      }*/

      &:selected, &:hover, &:focus {
        background-color: gtkshade($borders, 0.8);
      }
    }

    .sidebar.left, .sidebar.right, .sidebar.left:dir(rtl), .sidebar:dir(rtl), .sidebar:dir(ltr), .sidebar {
      border-style: none;
    }
  }
}
