@mixin popover() {
  popover {
    &, &.background {
      padding: 2px;
      border-width: 2px;
	  @include border_outset($bg_color);
      border-radius: $roundness;
      color: $fg_color;
      background-clip: border-box;
      background-color: $bg_color;
      //box-shadow: 0 2px 5px 0 gtkalpha($dark_shadow, 0.5);

    .csd &, & {
      border-width: 2px;
      @include border_outset($bg_color);
      }

      > list, > .view, > iconview, > toolbar, > .inline-toolbar {
        border-style: none;
        background-color: transparent;
      }

      /*checkbutton:selected, radiobutton:selected {
        color: $selected_fg_color;
        background-color: $selected_bg_color;
      }*/
    }

    /*&.osd {
      

      > toolbar button {
        border-width: 0;
        border-radius: 0;
        background-color: transparent;
      }
    }*/

  }
}
