@mixin primary_toolbar() {
  .primary-toolbar {
    -GtkWidget-window-dragging: true;

    padding: 2px;
    color: $toolbar_fg_color;
    background-color: $toolbar_bg_color;

    button, .raised button {
      @include normal_buttons($toolbar_bg_color, $toolbar_fg_color, $toolbar_bg_color);
    }
  }
}
