@mixin progressbar() {
  progressbar, .progressbar {
    padding: 0;
    border: none;
    color: $fg_color;
    background-color: transparent;

    progress {
      border: none;
      border-radius: $progressbar_radius;
      background-color: $progressbar_color;

    }

    trough {
      border-radius: $progressbar_radius;
      border-width: $button_border_width;
      @include border_inset($bg_color);
      background-color: gtkshade($bg_color, 0.8);


     /* &:backdrop {
        background-color: gtkshade($unfocused_bg_color, 0.95);
      }*/
    }
    &.disabled {
    	progress {background-color: $disabled_text_color;}
    	trough {background-color: gtkshade($disabled_base_color, 0.8);}
    }

    &.horizontal trough {
    min-height: 0.3em;
    }
    
    &.vertical trough {
    min-width: 0.3em;
    }

  }

 
}
