@mixin scale() {
  scale {
    min-height: 10px;
    min-width: 10px;
    padding: 12px;

    fill, trough {
      border-width: 2px;
      border-radius: 0px;
      background-color: gtkshade($base_color, 0.8);
      @include border_inset(gtkshade($base_color, 0.8));
      outline-offset: 2px;
      -gtk-outline-radius: 0;
      
      &:disabled {
        background-color: gtkshade($disabled_base_color, 0.8);
      	@include border_inset(gtkshade($disabled_base_color, 0.8));

      }

    }

    highlight {
      border-width: 1px;
      @include border_outset($progressbar_color);
      border-radius: 0px;
      background-color: $progressbar_color;
      box-shadow: $button_normal_box_shadow;
      margin: 0px;

      &:disabled {
        background-color: gtkmix($disabled_fg_color, $disabled_bg_color, 0.5);
        @include border_outset(gtkmix($disabled_fg_color, $disabled_bg_color, 0.5));

        /*&:backdrop {
          background-color: $unfocused_disabled_bg_color;
        }*/
      }
    

      /*&:backdrop {
        background-color: $unfocused_selected_bg_color;
      }*/
    }

    &.horizontal {

      indicator {
        min-height: 6px;
        min-width: 1px;
      }

      &.fine-tune indicator {
        min-height: 3px;
      }
    }

    &.vertical {
      indicator {
        min-height: 1px;
        min-width: 6px;
      }

      &.fine-tune indicator {
        min-width: 3px;
      }
    }

    &.fine-tune {
      /*&.horizontal {
        padding-top: 10px;
        padding-bottom: 10px;
        min-height: 14px;
      }

      &.vertical {
        padding-left: 10px;
        padding-right: 10px;
        min-width: 14px;
      }*/

      slider{
        background-color: $info_bg_color;
        @include border_outset($info_bg_color);
        //background-image: radial-gradient(gtkshade($info_bg_color, 1.2) 20%, gtkshade($info_bg_color,1.0) 40%);

        &:hover, &:focus {
          background-color: gtkshade($info_bg_color,1.1);
          @include border_outset($info_bg_color);
        }
      }

      fill, trough, highlight {
        border-radius: 0;
        -gtk-outline-radius: 0;
      }

      marks {
        /*&.top {
          margin-bottom: 8px;
          margin-top: -13px;
        }

        &.bottom {
          margin-top: 8px;
          margin-bottom: -13px;
        }

        &.top {
          margin-right: 8px;
          margin-left: -13px;
        }

        &.bottom {
          margin-left: 8px;
          margin-right: -13px;
        }*/
        margin: 4px;
      }
    }

    slider {
    	@include slider(0.8em);
      margin: -0.3em;
    }

    value {
      color: gtkmix($bg_color, $fg_color,0.6);
    }

    marks {
      color: gtkmix($bg_color, $fg_color,0.6);

     /* &.top {
        margin-bottom: 6px;
        margin-top: -12px;
      }

      &.bottom {
        margin-top: 6px;
        margin-bottom: -12px;
      }

      &.top {
        margin-right: 6px;
        margin-left: -12px;
      }

      &.bottom {
        margin-left: 6px;
        margin-right: -12px;
      }*/
      margin: 4px;
    }
      &.color {
          fill, trough {
          border-radius: 0px;
          }
      }    
  }

}
