@mixin scrollbar() {
  scrollbar {
    border: none;
    border-radius: $button_radius;
    background-color: gtkshade($base_color, 0.9);
    color: $fg_color;
    //padding: 1px;

    trough {
      //border: none;
      @include border_inset(gtkshade($base_color, 0.9));
      border-radius: $button_radius;
      
    }


    slider {
      min-width: $scrollbar_width;
      min-height: $scrollbar_width;
      margin: 0;
      border-width: $button_border_width;
      @include border_outset($button_border_color);
      border-radius: $scrollbar_radius;
      //background-clip: padding-box;
      background-color: $button_bg_color;//gtkshade($bg_color, 0.6);
      

      &:hover {
        background-color: gtkmix($selected_bg_color, $button_bg_color, 0.5);
        @include border_outset(gtkmix($selected_bg_color, $button_bg_color, 0.5));

        &:active {
          background-color: $selected_bg_color;
          @include border_outset($selected_bg_color);
        }
      }

      /*&:backdrop {
        background-color: gtkshade($bg_color, 0.55);
      }*/

      &:disabled {
        background-color: $disabled_bg_color;
        @include border_outset($disabled_bg_color);
      }
    }

    &.fine-tune {
      slider {
        @include border_inset($selected_bg_color);
        
        
        &:hover {
        	@include border_inset($selected_bg_color);
        	
        	&:active {
        		@include border_inset($selected_bg_color);
        		
        		}
        	}
      }

     /* &.horizontal slider {
        margin-top: 1px;
        margin-bottom: 1px;
      }

      &.vertical slider {
        margin-left: 1px;
        margin-right: 1px;
      }*/
    }

    /*&.overlay-indicator:not(.dragging):not(.hovering) {
      border: none;
      opacity: 0.7;
      margin: 0;
      background-color: transparent;

      slider {
        margin: 0;
        min-width: 1px;
        min-height: 1px;
        background-color: gtkshade($bg_color, 0.6);
        border: none;
      }

      &.horizontal {
        slider {
          margin: 0;
          min-width: 40px;
        }
      }

      &.vertical {
        slider {
          margin: 0;
          min-height: 40px;
        }
      }
    }

    &.overlay-indicator {
      &.dragging, &.hovering {
        opacity: 1;
      }
    }*/
    
    button {
      padding: 1px;
      min-width: $scrollbar_width;
      min-height: $scrollbar_width;

    }

    &.horizontal {
      slider {
        min-width: 40px;
      }

      button {

        &.down {
          -gtk-icon-source: -gtk-icontheme("pan-end-symbolic");
        }

        &.up {
          -gtk-icon-source: -gtk-icontheme("pan-start-symbolic");
        }
      }
    }

    &.vertical {
      slider {
        min-height: 40px;
      }

      button {
 

        &.down {
          -gtk-icon-source: -gtk-icontheme("pan-down-symbolic");
        }

        &.up {
          -gtk-icon-source: -gtk-icontheme("pan-up-symbolic");
        }
      }
    }

    treeview ~ &.vertical {
      //border-top: 1px solid $borders;
      margin-top: -1px;
    }
  }
}
