@mixin separator() {
  separator {
    //-gtk-icon-source: none;
    min-width: 0px;
    min-height: 0px;
    background-color: $borders;
    @include border_outset($bg_color);

    /*&:backdrop {
      background-color: $unfocused_borders;
    }*/

    button & { 
    	margin: 4px 1px;
    	@include border_outset($button_bg_color);
    }
    button:active &, button:checked & {@include border_outset($selected_bg_color);}
    button:disabled & {@include border_outset($disabled_bg_color);}
    

    .primary-toolbar &, toolbar & {
      background-color: gtkmix($toolbar_bg_color, $toolbar_fg_color, 0.1);
	  @include border_outset($toolbar_bg_color);
    }
    
    .primary-toolbar button &, toolbar button &, .primary-toolbar:not(.libreoffice-toolbar) & {
      background-color: gtkmix($toolbar_bg_color, $toolbar_fg_color, 0.1);
      @include border_outset($toolbar_bg_color);
      margin-right: 0.5em;
      margin-left: 0.5em;


    }

    headerbar & {
      -GtkWidget-window-dragging: true;
      margin-top: 4px;
      margin-bottom: 4px;
      background-color: gtkmix($headerbar_bg_color, $headerbar_fg_color, 0.2);
		@include border_outset($headerbar_bg_color);
      &:backdrop {
        background-color: gtkmix($unfocused_headerbar_bg_color, $unfocused_headerbar_fg_color, 0.2);
        @include border_outset($unfocused_headerbar_bg_color);
      }
    }
    
    .titlebar &, .titlebar:not(headerbar) > &, .titlebar &.titlebutton, .titlebar:not(headerbar) > &.titlebutton {
      -GtkWidget-window-dragging: true;
      background-color: gtkmix($titlebar_bg_color, $titlebar_fg_color, 0.1);
		@include border_outset($titlebar_bg_color);
      /*&:backdrop {
        background-color: $unfocused_borders;
      }*/
    }

    headerbar &.titlebutton, .titlebar:not(headerbar) &.titlebutton {
      //min-width: 1px;
      //min-height: 1px;
      background-color: gtkmix($titlebar_bg_color, $titlebar_fg_color, 0.1);
		@include border_outset($titlebar_bg_color);
	  &:backdrop {
        background-color: gtkmix($unfocused_headerbar_bg_color, $unfocused_headerbar_fg_color, 0.2);
        @include border_outset($unfocused_headerbar_bg_color);
      }
    }
    
    .titlebutton button &, .titlebutton &.titlebutton {

		@include border_outset($titlebar_bg_color);

    }

    menu & {
      background-color: gtkmix($menu_bg_color, $menu_fg_color, 0.1);
      @include border_outset($menu_bg_color);
    }
    
    menuitem & {

      color: gtkmix($borders, $menu_bg_color, 0.5);
      @include border_outset($menu_bg_color);
    }

    popover & {

      @include border_outset($bg_color);
      color: gtkalpha(currentColor, 0.5);
      background-color: transparent;
    }

    combobox & { @include border_outset($button_bg_color); }
    
    list & { @include border_outset($base_color);}

  }
}
