@mixin spinbutton() {
  spinbutton {
    
    //&.horizontal {
      @include border_inset($base_color, $button_border_width);
      border-radius: $entry_radius;
      background-color: gtkshade($base_color,0.9);
      //box-shadow: $entry_box_shadow;


      &:disabled {
        @include border_inset($disabled_base_color, $button_border_width);
        color: $disabled_text_color;
        background-color: $disabled_base_color; //gtkmix($disabled_base_color, $base_color, 0.5);

      }


      &:focus { @include border_inset($selected_bg_color, $button_border_width); }
    
      entry {
        padding: 3px 5px;
        border: none;
        background: none;
        
        &:disabled { 
        	color: $disabled_text_color;
        	background-color: transparent;
        	border: none;
        }
        &:focus {border: none;}
      }
      
      button {
        border: none;
        border-radius: 0;
        background: none;
        //box-shadow: -1px 0 $borders;
        box-shadow: none;
        padding: 0.1em;
        min-height: 0px;
        margin: 0px;
        
        &:disabled //, &:backdrop 
            { 
                background-color: transparent; // gtkmix($disabled_base_color, $base_color, 0.5);
                border: none;
                color: $disabled_text_color;
                -gtk-icon-effect: dim; // to be changed to -gtk-icon-filter: opacity(0.5) in GTK-4
            }
        &:active {
            //box-shadow: inset 0 7px 3px -6px gtkalpha($dark_shadow, 0.8); //should adapt to a checked button's box-shadow!
                background-color: $selected_bg_color;
                color: $selected_fg_color;
                border: none;
        }
        &:hover {
            background-color: gtkshade($base_color, 1.1);
            border: none;
        }
        &:focus {
        		background-color: transparent; // gtkmix($disabled_base_color, $base_color, 0.5);
                border: none;
        }
        &.up { border-radius: 0 $entry_radius $entry_radius 0; }
      }
    //}
/*
    &.vertical {
      entry {
        border-radius: 0; 
        border-width: 1px;
        &:disabled { color: $disabled_text_color; }
      }
      button {
        
        &.up {
          border-bottom-left-radius: 0;
          border-bottom-right-radius: 0;
          //border-bottom-width: 0;
        }

        &.down {
          //border-top-width: 0;
          border-top-left-radius: 0;
          border-top-right-radius: 0;
        }
      }
    }*/
  }
}
