@mixin statusbar() {
  statusbar {
    padding: 4px;
    color: $statusbar_fg_color;
    background-color: $statusbar_bg_color;
    @include border_inset($statusbar_bg_color);
    padding: 0;
    margin: 0;

    frame > border {
      border: none;
    }
  }
}
