@mixin switch() {
  switch {
    font-size: 0;
    color: transparent;
    outline-offset: -4px;
    //margin: 4px;
    padding: 1px;
    @include border_inset($base_color);
    border-radius: 0px;
    background-color: $base_color;
    

    &:checked {
      @include border_inset($selected_bg_color);
      background-color: $selected_bg_color;

    }

    &:disabled {
      //border-color: gtkshade($disabled_bg_color, 0.95);
      background-color: $disabled_base_color;//gtkmix($disabled_base_color, $base_color, 0.5);


    }

    slider {
		@include slider (1em);
		
    }

    &:disabled {
      slider {
        @include slider (1em, $disabled_bg_color);
      }
 
    }

  }
}
