@mixin textview() {
  textview {
    color: $text_color;
    background-color: $base_color;
    /*border: 1px solid transparent;
    
    &:focus{border-color: $selected_bg_color;}*/
    //box-shadow: $entry_box_shadow;
    //padding: 2px;

    text {
      background-color: $base_color;

      &:selected, selection, &:selected:focus, selection:focus {
        color: $selected_fg_color;
        background-color: $selected_bg_color;
      }

      /*&:backdrop { background-color: $unfocused_base_color; }*/
    }
  }
}
