@mixin tooltip() {
  tooltip {
    border-radius: $roundness;
    box-shadow: none;

    &.background {
      
      background-color: $tooltip_bg_color;

      label {
        padding: 1px;
      }
    }

    * {
      background-color: transparent;
      color: $tooltip_fg_color;
    }
  }
}
