@mixin toolbar() {
  toolbar {
    padding: 4px;
    border: none;
    color: $toolbar_fg_color;
    background-color: $toolbar_bg_color;

    /*&:backdrop {
      color: $unfocused_fg_color;
      background-color: $unfocused_bg_color;
    }*/

    &:disabled {
      color: $disabled_fg_color;
      background-color: $disabled_bg_color;
    }

    button.flat {
      @include flat_buttons($button_bg_color, $button_fg_color, $button_border_color);
    }

    // menubar toolbars 
    menubar {
      -GtkToolbar-button-relief: normal;
    }
  }
}
