@mixin treeview() {
  treeview {
    -treeview-vertical-separator: 0;
    
    &.view {
      &:selected, &:selected:focus {
        border-radius: 0;
        color: $selected_fg_color;
        background-color: $selected_bg_color;

      }
    
      &:drop(active) {
        border-style: solid none;
        border-width: 1px;
        border-color: $selected_bg_color;
        
        &.after { border-top-style: none; }
        &.before { border-bottom-style: none; }
      }
    }

    header {
      button {
        border-radius: 0;
        @include border_outset($bg_color);
        //border-width: $button_border_width 0px $button_border_width $button_border_width;
        //background-image: none;
        background-color: $bg_color;
        padding: 2px;


        &, &:focus {
          &:hover {
            //background-image: none;
            background-color: gtkshade($bg_color, 1.1);
            
          }
        
          &:active {
            color: $button_checked_fg_color;
            //background-image: none;
            background-color: $button_checked_bg_color;
            @include border_inset($button_checked_bg_color);
            //border-width: $button_border_width 0px $button_border_width $button_border_width;
            
          }
        }
      }
    }

  }
}
