@mixin view() {
  .view:not(check):not(radio) {
    color: $text_color;
    background-color: $base_color;
    //box-shadow: inset 0 5px 5px -3px gtkalpha($dark_shadow, 0.3); //Do not activate: it affects every line in a list view...

    &:hover:not(check):not(radio):not(:selected) {
    	background-color: gtkshade($base_color,1.1);
    	}

    &:disabled {
      color: $disabled_fg_color;
      background-color: $disabled_bg_color;
    }

    &:selected:not(check):not(radio), & text:selected, & text selection {
      &, &:focus {
        color: $selected_fg_color;
        background-color: $selected_bg_color;
        //border-radius: 5px;
        
        &:disabled {
          color: gtkmix($selected_fg_color,
      $disabled_fg_color,
      0.5);
          background-color: gtkmix($selected_bg_color, $disabled_bg_color, 0.5);
        }


        
        //border-radius: $view_radius;
        -gtk-outline-radius: $view_radius;
      }
    }
  }
}
